.tabcontent {
  display: none;
  border-top: none;
  width:100%;
}



.tooltip-wide .tooltip.bottom, .tooltip-inner  {
  max-width: none;
}

.tab-content .wide>.active{
  display: inline-block;
}

.path-div {
  text-align: left;
  margin-bottom: 10px;
}

.path-div div{
  display: inline-block;
}


.bg-green {
    background-color: #7bfac1;
}

.bg-yellow {
    background-color:#fff3cd;
}

.bg-blue {
    background-color:#cff4fc;
}

.bg-red {
    background-color:#f8d7da;
}

.bg-white {
    background-color: #ffffff;
}

.table-green {
    --bs-table-bg: #7bfac1;
    --bs-table-striped-bg: #81ce6a;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcd0c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c1d6cc;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #bcd0c7;
  }
  
  .table-blue {
    --bs-table-bg: #cff4fc;
    --bs-table-striped-bg: #c5e8ef;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #badce3;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfe2e9;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #badce3;
  }
  
  .table-yellow {
    --bs-table-bg: #fff3cd;
    --bs-table-striped-bg: #f2e7c3;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e6dbb9;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ece1be;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #e6dbb9;
  }
  
  .table-red {
    --bs-table-bg: #f8d7da;
    --bs-table-striped-bg: #eccccf;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfc2c4;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5c7ca;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfc2c4;
  }

  .detail-div {
      padding-top: 2%;
      padding-right: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
  }